*.elc
auto-save-list
el-get/*
!el-get/user/
elpa
ac-comphist.dat
places
recentf
*~
network-security.data
inits/99*
.nrepl-port
cider-history
geiser-history.*
.recentf
.smex-items
projectile-bookmarks.eld
straight

slack-emacs.el
.lsp-session-v1

transient/
url/
elpy/

.ccls-cache/
history
var/
